# Configuración "default" del Servidor CS2. Después se pisa con la configuración RCON
CS2_RCON_HOST=127.0.0.1
CS2_RCON_PORT=27015
CS2_RCON_PASSWORD=contra

# Configuración de NestJS
PORT=3000

# Ruta donde está instalado el servidor dedicado. En Linux será algo como /opt/cs2/server
CS2_SERVER_ROOT_DIR=D:\Servidor_CS2\server

# URL pública o de red local del backend adonde MatchZy enviará los Webhooks
BACKEND_WEBHOOK_URL=http://localhost:3000

# Clave simétrica para validar seguridad entre MatchZy y Nest
MATCHZY_WEBHOOK_TOKEN=contra

# Si está en "true", restaura automáticamente la ronda cuando hay un .tech/.pause en match point
AUTO_RESTORE_ON_MATCH_POINT=true